.chevron {
    position: absolute;
    width: 24px;
    height: 100%;
    display: inline-block;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position-y: center;
    content:"";
    cursor: pointer;
    background-image: url("../image/svg/chevron-right.svg");
}

.chevron-open {
    background-image: url("../image/svg/chevron-left.svg");
}